# --- Gereksiz Dosyalar ---
bin/
obj/

# --- Editör Ayarları ---
.vs/
.vscode/
*.user
*.suo

# --- Güvenlik ---
appsettings.Development.json
appsettings.Local.json

# --- Veritabanı ve Mac Dosyaları ---
*.db
.DS_Store