@using Eticaret.Service.Concrete
@using Eticaret.WebUI.ExtensionMethods
@{
    ViewData["Title"] = "_FloatingCart";

    var cart = Context.Session.GetJson<CartService>("Cart");
    int cartCount = cart?.CartLines.Sum(x => x.Quantity) ?? 0;
}

<style>
    .floating-cart-btn {
        position: fixed;
        /* EKRAN SABIT KALMASI */

        bottom: 30px;

        right: 30px;

        z-index: 1050;

        width: 60px;
        height: 60px;
        border-radius: 50%;

        display: flex;
        align-items: center;
        justify-content: center;
        transition: transform 0.2s;

    }

    .floating-cart-btn:hover {
        transform: scale(1.2);
    }
</style>


<a class="btn btn-primary shadow-lg floating-cart-btn" asp-controller="Cart" asp-action="Index" title="Sepetim"> <i
        class="bi bi-cart3" style="font-size: 1.5rem;"></i>
    @if (cartCount > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger border border-light">
            @cartCount
            <span class="visually-hidden">Sepetteki Ürünler</span>
        </span>
    }
</a>