<head>
</head>
<section class="bg-light">
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top">
            <div class="col-md-4 d-flex align-items-center"> <a href="/"
                    class=" me-2 mb-md-0 text-body-secondary text-decoration-none lh-1" aria-label="Bootstrap"> <svg
                        class="bi" width="30" height="24" aria-hidden="true">
                        <use xlink:href="#bootstrap"></use>
                    </svg> </a> <span class="mb-md-0 text-body-secondary">© 2026 Merü, Fenerbahçe</span> </div>
            <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
                <li class="ms-3">
                    <a class="social-icon insta" href="https://www.instagram.com/mertkarci_/" target="_blank">
                        <i class="bi bi-instagram fs-4"></i>
                    </a>
                </li>

                <li class="ms-3">
                    <a class="social-icon face" href="https://www.facebook.com/"target="_blank">
                        <i class="bi bi-facebook fs-4"></i>
                    </a>
                </li>

                <li class="ms-3">
                    <a class="social-icon twit" href="https://www.x.com/"target="_blank">
                        <i class="bi bi-twitter-x fs-4"></i>
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</section>