@model List<Product>;
@{
    ViewData["Title"] = "Favorilerim";
}




<section>
    <div class="text-center">
        <h1 class="display-4 fw-bold">Favorilerim</h1>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-hover">
                    <tr>
                        <th>Ürün</th>
                        <th>Fiyat</th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody>
                        @if (Model.Any())
                        {
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td> <img src="~/img/products/@item.Image" alt="@item.Name" height="40" /></td>
                                    <td><a href="/Products/Details/@item.Id" class="fw-bold">@item.Name
                                        </a></td>
                                    <td>@item.Price.ToString("c")</td>
                                    <td>
                                        <form asp-action="Remove" asp-asp-controller="Favourites">
                                            <input type="hidden" name="ProductId" value="@item.Id">
                                            <button class="btn btn-sm btn-danger" type="submit" style="box-shadow: none">
                                                <i class="bi bi-x-lg"></i>
                                            </button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        }
                        else
                        {
                            <div class="container">
                                <div class="alert alert-light border shadow-sm">
                                    <h3>Henüz favori ürün bulunmuyor.</h3>
                                </div>
                            </div>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>