@model IEnumerable<Category>

<div class="collapse navbar-collapse" id="navbarsExample04">

    <ul class="navbar-nav mr-auto navbar-font">

        @foreach (var mainCategory in Model.Where(c => c.ParentId == 0))
        {
            // Bu ana kategoriye ait alt kategorileri buluyoruz
            var subCategories = Model.Where(c => c.ParentId == mainCategory.Id).ToList();

            @if (subCategories.Any())
            {
                <li class="nav-item dropdown navbar-font">
                    <a class="nav-link dropdown-toggle navbar-font" href="/kategoriler/@mainCategory.Slug"
                        id="dropdown-@mainCategory.Id" onclick="window.location.href=this.href" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        @mainCategory.Name
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown-@mainCategory.Id">
                        @foreach (var sub in subCategories)
                        {
                            <li>
                                <a class="dropdown-item" href="/kategoriler/@mainCategory.Slug/@sub.Slug">
                                    @sub.Name
                                </a>
                            </li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item navbar-font">
                    <a class="nav-link navbar-font" href="/kategoriler/@mainCategory.Slug">
                        @mainCategory.Name
                    </a>
                </li>
            }
        }
    </ul>

</div>