@{
    ViewData["Title"] = "PasswordChange";
}

<div class="container py-4 my-md-5 d-flex flex-column justify-content-center align-items-center">

    <div class="col-12 col-md-8 col-lg-6 col-xl-5">

        <div class="card login-card border-0 bg-white">
            <div class="card-body p-4 p-sm-5">


                <form asp-action="PasswordChange" method="post">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger rounded-3 small"></div>
                    <input type="hidden" name="user" value="@Context.Request.Query["user"]">
                    <div class="form-floating mb-4">
                        <input name="password" type="password" class="form-control" id="floatingPassword"
                            placeholder="Şifre" required>
                        <label for="password">Şifre Belirleyin</label>
                    </div>


                    <button class="btn btn-success btn-lg w-100 rounded-pill fw-bold shadow-sm" type="submit">
                        Şifreyi Yenile <i class="bi bi-person-check-fill ms-1"></i>
                    </button>
                </form>

            </div>

            <div class="card-footer bg-light border-0 text-center py-4">
                <span class="text-muted small">Zaten bir hesabınız var mı?</span>
                <a asp-action="SignIn" asp-controller="Accounts" class="text-primary text-decoration-none fw-bold ms-1">
                    Giriş Yap
                </a>
            </div>
        </div>

    </div>
</div>